{% extends "email/base/base_email.html" %}

{% block title %}Trendit³ - Task Approved{% endblock %}

{% block content %}
<div style="width: 100%; text-align: left; line-height: 1.5;">
    <div style="margin-bottom: 56px;">
        <div style="font-size: 24px; font-family: Campton; font-weight: 500; color: white;">
            Dear {{ username }},
        </div>
    </div>
    <div style="margin-bottom: 24px;">
        <div style="font-size: 16px; font-family: Campton; font-weight: 400; color: #B1B1B1;">
            Your recent task has been approved!
        </div>
    </div>
    <div style="margin-bottom: 24px; border: 1px solid #B1B1B1; padding: 16px; border-radius: 8px;">
        {% if task_description %}
        <div style="font-size: 16px; font-family: Campton; font-weight: 400; color: #B1B1B1; margin-bottom: 8px;">
            Task Description: {{ task_description }}
        </div>
        {% endif %}
        <div style="font-size: 14px; font-family: Campton; font-weight: 400; color: #B1B1B1; margin-bottom: 8px;">
            Time: {{ task_time }}
        </div>
        <div style="font-size: 14px; font-family: Campton; font-weight: 400; color: #B1B1B1;">
            Type: {{ task_type }}
        </div>
    </div>
    <div style="margin-bottom: 24px;">
        <div style="width: 290px; padding: 14px 24px; background: #CB29BE; border-radius: 100px; text-align: center;">
            <div style="font-size: 12.83px; font-family: Campton; font-weight: 500; color: white;">
                <a href="https://app.trendit3.com" style="color: white; text-decoration: none;">View Account</a>
            </div>
        </div>
    </div>
    <div style="font-size: 16px; font-family: Campton; font-weight: 500; color: #B1B1B1;">
        For further inquiries, please contact our customer support through the following channel:<br/>
        Email: <a href="mailto:support@trendit3.com" style="color: #B1B1B1; text-decoration: none;">support@trendit3.com</a><br/><br/>
        <!-- Phone: <a href="tel:+2340923446788" style="color: #B1B1B1; text-decoration: none;">+234 092 344 6788</a><br/><br/> -->
        Thanks for choosing Trendit.
    </div>
</div>

{% endblock %}
