{% extends 'mail/base/base.html' %}
{% block title %} Engage Task {% endblock %}


{% block content %}
        <p style="font-weight: bold; font-family: 'Inter', 'sans-serif'; font-size: 20px; font-weight: 600; text-align: center; color: #B1B1B1;">
            Engage in today’s tasks!
        </p>

        <p style="font-weight: bold; font-family: 'Inter', 'sans-serif'; font-size: 20px; font-weight: 700;">Hello [Username],</p>

        <div style="width: 95%; font-family: 'Inter', 'sans-serif'; margin-bottom: 40px; font-size: 16px; font-weight: 400; color: #B1B1B1;">
            <p style="width: 90%;">
                We have new task that you can engage in and earn money for advertising this businesses on different social platforms. This task takes few minutes and you will earn at least 3 .5naira for engaging in a task.
            </p>         
        </div>
        
        <a style="background-color: #DA348F; text-decoration: none; text-align: center; font-size: 16px; font-weight: 600; width: 290px; height: 49px; padding: 14px 72px 14px 72px; border-radius: 80px; color: #fff;">
            Engage task
        </a>

        <div class="spacer" style="line-height:30px;height:30px;">&nbsp;</div>

        <div style="width: 95%; font-family: 'Inter', 'sans-serif'; margin-bottom: 40px; font-size: 16px; font-weight: 400; color: #B1B1B1;">
            <p style="width: 90%;">
                Your anonymous help in engaging in this social tasks helps to connect businesses and individuals to their potentials customers and they sincerely need your services.
            </p> 
        </div>
        
{% endblock %}