{% extends 'mail/base/base.html' %}
{% block title %} Trendit³ - Membership Payment {% endblock %}


{% block content %}

        <p style="font-weight: bold; font-family: 'Inter', 'sans-serif'; font-size: 16px; font-weight: 700; color: #B1B1B1;">
            Dear {% if user.firstname %} {{ user.firstname }} {% else %} {{ user.username }} {% endif %},
        </p>

        <div style="width: 95%; font-family: 'Inter', 'sans-serif'; font-size: 16px; font-weight: 400; color: #B1B1B1; margin-bottom: 30px;">
            <p style="width: 90%;">
                We're excited to confirm to you that your payment for the membership activation fee has been received
            </p>
            <p style="width: 90%;">
                This means you're now officially a member of Trendit3. You can now unlock all the benefits of your membership, including:
            </p>
        </div>

        <div style="width: 90%; font-family: 'Inter', 'sans-serif'; font-size: 16px; font-weight: 400; color: #B1B1B1; margin-bottom: 30px;">
            <ul>
                <li style="margin-bottom: 10px;">
                    Engaging in Rewarding Tasks: Explore a variety of advert and engagement tasks designed to help businesses and earn you income! From social media engagement to creative tasks, there's something for everyone.
                </li>
                <li style="margin-bottom: 10px;">
                    Performing and Earning: Take control of your earnings and choose the tasks that best suit your skills and interests. The more you engage, the more you can earn!
                </li>
                <li style="margin-bottom: 10px;">
                    Creating Your Own Ads :  Craft and create adverts for your businesses directly on our platform 
                </li>
                <li style="margin-bottom: 10px;">
                    Spreading the Word & Earning: Share your love for Trendit3 with your network! Earn rewards by referring friends and expanding our community with your unique referral link.
                </li>
            </ul>
        </div>

        <div style="width: 95%; font-size: 16px;margin-bottom: 30px; font-weight: 400; color: #B1B1B1; font-family: 'Inter', 'sans-serif';">
            We're excited to have you onboard, User Name! To get started, head over to our platform and explore the amazing opportunities that await you.
        </div>
        <div style="width: 95%; font-size: 16px;margin-bottom: 40px; font-weight: 400; color: #B1B1B1; font-family: 'Inter', 'sans-serif';">
            If you have any questions or need assistance, please don't hesitate to reach out to our friendly support team. We're always happy to help!
        </div>

        <a href="{{ config.APP_DOMAIN_NAME }}/dashboard/home" style="background-color: #DA348F; text-decoration: none; text-align: center; font-size: 16px; font-weight: 600; width: 290px; height: 49px; padding: 14px 72px 14px 72px; border-radius: 80px; color: #fff;">
                Visit Website
        </a>

        <div style="width: 95%; font-size: 16px; font-weight: 400; margin-top: 45px; color: #B1B1B1; font-family: 'Inter', 'sans-serif';">
            <p style="margin-bottom: -10px;">Please contact us with any questions, we're always happy to help.</p>
            <p>Email: <a href="mailto:{{ config.SUPPORT_EMAIL }}" style="color: blue;">{{ config.SUPPORT_EMAIL }}</a></p>
            <p>
                Cheers, <br />
                The Trendit team
            </p>
        </div>

{% endblock %}