{% extends 'mail/base/base.html' %}
{% block title %} Verify Email {% endblock %}


{% block content %}
        <p style="font-weight: bold; font-family: 'Inter', 'sans-serif'; font-size: 20px; font-weight: 600; color: #B1B1B1;">
            Thanks for your interest in our platform.
        </p>

        <div style="width: 95%; font-family: 'Inter', 'sans-serif'; margin-bottom: 20px; font-size: 16px; font-weight: 400; color: #B1B1B1;">
            <p style="width: 90%;">
                Please use the confirmation code below to confirm your email and get signed up immediately.
            </p>
        </div>

        <div style="width: 95%; font-family: 'Inter', 'sans-serif'; margin-bottom: 20px; font-size: 16px; font-weight: 400; color: #B1B1B1;">
            <p style="width: 90%;">
                Your verification code is:
            </p>  
        </div>

        <div style="width: 95%; font-family: 'Inter', 'sans-serif'; margin-bottom: 20px; font-size: 32px; font-weight: 400; color: #FFFFFF;">
            <p>
                {{ verification_code }}
            </p>
        </div>

{% endblock %}